.chatContainer {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid #f91b8f;
  background-color: white;
  border-radius: 12px;
  box-shadow: 4px 4px 0px #f91b8f;
}

.chatBox {
  height: 400px;
  padding: 1rem;
  overflow-y: auto;
  background: white;
}

.message {
  margin-bottom: 1rem;
}

.message.user {
  text-align: right;
}

.message.assistant {
  text-align: left;
}

.bubble {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background: #ffe0f2;
}

.user .bubble {
  background: #f91b8f;
  color: white;
}

.inputArea {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

.inputBox {
  flex: 1;
  padding: 0.5rem;
  background-color: #ffe0f2;
  border: 2px solid #f91b8f;
  border-radius: 20px;
  outline: none;
}

.inputBox:hover {
  box-shadow: 2px 2px 0px #f91b8f;
}
.sendButton {
  padding: 0.5rem 1rem;
  background: #ffe0f2;
  border-radius: 20px;
  color: #f91b8f;
  border: 2px solid #f91b8f;
  cursor: pointer;
}

.sendButton:hover {
  box-shadow: 2px 2px 0px #f91b8f;
}

.fileInput {
  display: none;
}

.uploadButton {
  padding: 0.5rem 1rem;
  background: #ffe0f2;
  color: white;
  border: 2px solid #f91b8f;
  cursor: pointer;
  border-radius: 20px;
}

.uploadButton:hover {
  box-shadow: 2px 2px 0px #f91b8f;
}

.imagePreview {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.imageBubble {
  max-width: 100%;
  border-radius: 12px;
  margin-top: 0.5rem;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user .mediaContainer {
  align-items: flex-end;
}

.previewContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.removePreview {
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.header {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem;
  color: #FFDCAE;
  font-style: italic;
  -webkit-text-stroke: 1px #f91b8f;
}

.subheader {
  text-align: center;
  font-size: 1rem;
  font-weight:600;
  margin: 0;
  padding: 0.5rem 0.5rem;
}

.questionButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 1rem;
  padding-bottom: 20px;
}

.questionButton {
  text-align: center;
  padding: 0.5rem 1rem;
  background: #f91b8f;
  color: white;
  border-radius: 12px;
  border: 2px solid #f91b8f;
  cursor: pointer;
  margin-right: 10px;
}

.questionButton:hover {
  background-color: #FFDCAE;
  border: 2px solid #f91b8f;
  color: #f91b8f;
}

@media (max-width: 768px) {
  .inputBox {
    font-size: 12px;
  }
}