@import "tailwindcss";

:root {
  --background: #ffe0f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #f91b8f;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #ffe0f2;
  color: #f91b8f;
  border: 2px solid #f91b8f;
  border-radius: 12px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #ffef34;
  color: #f91b8f;
  box-shadow: 2px 2px 0px #f91b8f;

}

.header {
  height: 80px;                     
  display: flex;
  justify-content: space-between;
  align-items: center;       
  padding: 1rem 0;                 
  background-color: #ffe0f2;  
  border-radius: 12px;  
}

.header-nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
